
body{
  background-color: #f0f0f0;
  text-align: center;
  font-family: Cambria, serif;
  }

  nav{
    grid-template-columns: 1fr 1fr 1fr
    border-left: 1px;
    border-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    }
    header{
      background-color: #262525;
      padding: 10px 10px;
    }

    .content{
      display: none;
    }
    .knapp:hover + .content{
      display: bloc;
      }
    .Merker{
      position: absolute;
      left: 6%;
      top: 15px;
      }

      .PlaggInnhold{
        position: absolute;
        left: 49%;
        top: 15px;
        transform: translateX(-50%);

      }
        button{
        border: none;
        color: black;
        padding: 3px 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15%;
        }
        button:hover{
          background-color: #2E3035;
        }

      .Sales{
        padding-top: 450px;
        text-align: center;
        font-size: 20px;
      }
    .navbargrid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-left: 100px;
      margin-right: 100px;
    }
    .content:hover{
      display:block;
        }
    li{
      list-style: none;
      display: inline;
      border-left: 3px;
      }
      .navknapp{
        border-style: solid;
        padding-left: 1px: black;
        }


    a{
      cursor: pointer;
      text-decoration: none;
      color: black;
      }

    ul{
      margin-left: 0px;
      margin-top: 20px;
      border-left: 3px;

    }
    /*Plassering av produkt*/
      main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 1%;
        padding-right: 1%;
        background-color: white;
        text-decoration: none;
        color: black;
        padding-top: 40px;
        text-decoration: none;
      }
      .hjemmeside{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .Plassering_varer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
  img{
    object-fit: cover;
    height: 200px;
    width: 200px;
  }

  @media(max-width:1200px){
    main{
      grid-template-columns: 1fr 1fr;
    }
  }
  @media(max-width:900px){
    main{
      grid-template-columns: 1fr;
    }
  }

  /*css til lideshow*/
    .Hjem_ForsideBilde{
      text-align: center;
      object-fit: ;
      z-index: 10;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 70px;
      width: 400px;
      height: 400px;
      animation: slider 9s infinite linear;
      background-size: cover;
      filter: brightness(100%);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    @keyframes slider{
      0%, 100%{
      background-image: url(LVsko.jpg);
      }
      35%{
        background-image: url(supremesocks.jpg);
      }
      75%{
        background-image: url(supremegenser.jpg);
      }
    }
    #hjemplagg{
      opacity: 0;
    }
