ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
input{
  display:grid;
  margin-top: 12px;
}
h2{
  text-align: center;
  font-family: calibri;
}

body{

    margin-left: 150px;
    margin-right: 150px;
    display: grid;
    grid-template-columns:
    padding-bottom: 50px;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h4{
  font-size: 30px;
}
.GNews{
  display: grid;
  grid-column:
}
h3{
  font-size: 30px;
  text-align: center;
}
.General{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20px;

}

.Mtoday{
    margin-top: 20px;
    border: solid 5px black;
    width: 270px;
    border-radius: 20px;
    grid-column: 1;
     }


footer{
  background-color: #262626;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  margin-top: 20px;
}
